<h1>A epic journey begins</h1>
<h2>These are our baby steps</h2>

<p>We get a lot of pitches from people who seem to think they are hollywood producers:</p>

<ul>
  <li>It's like twitter, but for lists</li>
  <li>It's like the yelp of yoga studios</li>
  <li>It's like buzz feed except for movies</li>
  <li>It's like pinterest for donuts</li>
</ul>

<h3>SERIOUSLY, PINTEREST FOR DONUTS</h3>

<p>So we needed to figure out something that we could build in a few weeks, an idea that would make sense at first glance that we could fill out more or less depending upon how much progress we made.</p>

<p>Top things that people use the internet for:</p>

<ol>
  <li>Porn</li>
  <li>Pictures of kittens</li>
  <li>??? whatever</li>
</ol>

<p>Since #1 didn't seem professional, this is how we settled on pinterest for kittens.</p>